{% extends 'authenticate/base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid position-relative p-0">
	<nav class="navbar navbar-expand-lg navbar-dark px-5 py-3 py-lg-0">
	  <a href="{% url 'home' %}" class="navbar-brand p-0">
		  <h1 class="m-0"><i class="fa fa-user-tie me-2"></i>Carz</h1>
	  </a>
	  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
		  <span class="fa fa-bars"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarCollapse">
		  <div class="navbar-nav ms-auto py-0">
			  <a href="{% url 'home' %}" class="nav-item nav-link">Home</a>
			
			  <div class="nav-item dropdown">
				  <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Statistics</a>
				  <div class="dropdown-menu m-0">
					  <a href="{% url 'powerbi' %}" class="dropdown-item">Power BI</a>
					  <a href="https://app.powerbi.com/reportEmbed?reportId=f8b37c55-b526-4725-8705-3f4691599edc&autoAuth=true&ctid=26de3d8f-79f7-4642-8217-bbd1e0bb3d8a" target="_blank" class="dropdown-item">Personalize Power BI</a>
					  <a href="{% url 'custom' %}" class="dropdown-item">Custom</a>
				  </div>
			  </div>
			  <div class="nav-item dropdown">
				  <a href="#" class="nav-link dropdown-toggle " data-bs-toggle="dropdown">Update</a>
				  <div class="dropdown-menu m-0">
					  <a href="{% url 'add_car' %}" class="dropdown-item">Add Car</a>
					  <a href="{% url 'update' %}" class="dropdown-item">Update Car</a>
					  <a href="{% url 'customer_view' %}" class="dropdown-item">Customer Review</a>
				  </div>
			  </div>
			  <a href="{% url 'edit_profile' %}" class="nav-item nav-link active">Profile</a>
	<a href="{% url 'logout' %}" class="nav-item nav-link">Logout</a>
		  </div>
		
	  </div>
  </nav>
  </div>
  <div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px;">
	<div class="row py-5">
	  <div class="col-12 pt-lg-5 mt-lg-5 text-center">
		<h1 class="display-4 text-white animated zoomIn">Change Password</h1>
		<a href="{% url 'home' %}" class="h5 text-white">Home</a>
		<i class="far fa-circle text-white px-2"></i>
		<a href="{% url 'change_password' %}" class="h5 text-white">Change Password</a>
	  </div>
	</div>
  </div>
  </div>
  {% if messages %}
  <div class ="container">
	  {% for message in messages %}
		<div class="alert alert-danger alart-dismissable" role ="alert" style=" margin-right: 50px;  margin-left: 50px;">
			<button class="btn-close" data-dismiss="alert">
				<small><sup>x</sup></small>
			  </button>
			{{ message }}
		  </div>
		{% endfor%}
	  {% endif %}
  {% if form.errors %}

  <div class="alert alert-danger alart-dismissable" role ="alert" style=" margin-right: 50px;  margin-left: 50px;">
	<button class="btn-close" data-dismiss="alert">
		<small><sup>x</sup></small>
	  </button>
   

   {% for field in form %}
	   {% if field.errors %}
		   {{ field.errors }}
	   {% endif%}
	   {% endfor %}


  </div>

{% endif %}

  <div style="justify-content: center; display: flex;">
	<div class="bg-primary rounded h-100 d-flex align-items-center p-5 wow zoomIn" data-wow-delay="0.9s">
<form method="POST" action="{% url 'change_password' %}">
		{% csrf_token %}

		

		{{ form.as_p }}

        {# button #}
		<input type="submit" value="Change Password" class="btn btn-dark w-100 py-3">
	</form>
	</div></div>
	<style>

		label {
		  font-size: 16px;
		  color: #000;
		  display: block;
		  margin-bottom: 10px;
		}
		
		li {
			color: #000;
		}
		</style> 
{% endblock %}