{% extends 'authenticate/base.html' %}
{% block content %}
{% load static %}
<div class="container-fluid position-relative p-0">
	<nav class="navbar navbar-expand-lg navbar-dark px-5 py-3 py-lg-0">
	  <a href="{% url 'home' %}" class="navbar-brand p-0">
		  <h1 class="m-0"><i class="fa fa-user-tie me-2"></i>Carz</h1>
	  </a>
	  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
		  <span class="fa fa-bars"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarCollapse">
		  <div class="navbar-nav ms-auto py-0">
			  <a href="{% url 'home' %}" class="nav-item nav-link">Home</a>
			
			  <div class="nav-item dropdown">
				  <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Statistics</a>
				  <div class="dropdown-menu m-0">
					  <a href="{% url 'home' %}" class="dropdown-item">Power BI</a>
					  <a href="{% url 'home' %}" class="dropdown-item">Personalize Power BI</a>
					  <a href="{% url 'home' %}" class="dropdown-item">Custom</a>
				  </div>
			  </div>
			  <div class="nav-item dropdown">
				  <a href="#" class="nav-link dropdown-toggle " data-bs-toggle="dropdown">Update</a>
				  <div class="dropdown-menu m-0">
					  <a href="{% url 'add_car' %}" class="dropdown-item">Add Car</a>
					  <a href="{% url 'update' %}" class="dropdown-item">Update Car</a>
					  <a href="{% url 'customer_view' %}" class="dropdown-item">Customer Review</a>
				  </div>
			  </div>
			  <a href="{% url 'edit_profile' %}" class="nav-item nav-link active">Profile</a>
	<a href="{% url 'logout' %}" class="nav-item nav-link">Logout</a>
		  </div>
		
	  </div>
  </nav>
  </div>
  <div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px;">
	<div class="row py-5">
	  <div class="col-12 pt-lg-5 mt-lg-5 text-center">
		<h1 class="display-4 text-white animated zoomIn">Edit Profile</h1>
		<a href="" class="h5 text-white">Home</a>
		<i class="far fa-circle text-white px-2"></i>
		<a href="" class="h5 text-white">Edit Profile</a>
	  </div>
	</div>
  </div>
  </div>
  {% if messages %}
  <div class ="container">
	  {% for message in messages %}
		<div class="alert alert-danger alart-dismissable" role ="alert" style=" margin-right: 50px;  margin-left: 50px;">
			<button class="btn-close" data-dismiss="alert">
				<small><sup>x</sup></small>
			  </button>
			{{ message }}
		  </div>
		{% endfor%}
	  {% endif %}
  {% if form.errors %}

		      <div class="alert alert-danger alart-dismissable" role ="alert" style=" margin-right: 50px;  margin-left: 50px;">
                <button class="btn-close" data-dismiss="alert">
                    <small><sup>x</sup></small>
                  </button>
               

               {% for field in form %}
               	{% if field.errors %}
               		{{ field.errors }}
               	{% endif%}
               	{% endfor %}


              </div>

  {% endif %}

  <div style="justify-content: center; display: flex;">
	<div class="bg-primary rounded h-100 d-flex align-items-center p-5 wow zoomIn" data-wow-delay="0.9s">
<form method="POST" action="{% url 'edit_profile' %}">
		{% csrf_token %}
		
			 
			  {{ form.as_p }}
			  <label>Salary:</label>
			 <input type="number" class="form-control bg-light border-0"  style="height: 55px;" name="salary"/><br/>
			 <label>Address:</label>
			<input type="text" class="form-control bg-light border-0"  style="height: 55px;" name="addr"/>
			<label>Phone Number:</label>
			<input type="text" class="form-control bg-light border-0"  style="height: 55px;" name="ph"/>
		<br>
			<input type="submit" value="Edit Profile" class="btn btn-dark w-100 py-3">
		
	   
	</form>
	</div></div>
	<div style="justify-content: center;">
	<p><small><a href="{% url 'change_password'%}">Click here</a> to change your password</small></p> </div>
	<style>

		label {
		  font-size: 16px;
		  color: #000;
		  display: block;
		  margin-bottom: 10px;
		}
		
		</style>   
{% endblock %}