{% extends 'authenticate/base.html' %}
{% block content %}
{% load static %}
<div class="container-fluid position-relative p-0">
  <nav class="navbar navbar-expand-lg navbar-dark px-5 py-3 py-lg-0">
    <a href="{% url 'home' %}" class="navbar-brand p-0">
        <h1 class="m-0"><i class="fa fa-user-tie me-2"></i>Carz</h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="fa fa-bars"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto py-0">
            <a href="{% url 'home' %}" class="nav-item nav-link">Home</a>
          
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Statistics</a>
                <div class="dropdown-menu m-0">
                    <a href="{% url 'powerbi' %}" class="dropdown-item">Power BI</a>
                    <a href="https://app.powerbi.com/reportEmbed?reportId=f8b37c55-b526-4725-8705-3f4691599edc&autoAuth=true&ctid=26de3d8f-79f7-4642-8217-bbd1e0bb3d8a" target="_blank" class="dropdown-item">Personalize Power BI</a>
                    <a href="{% url 'custom' %}" class="dropdown-item">Custom</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown">Update</a>
                <div class="dropdown-menu m-0">
                    <a href="{% url 'add_car' %}" class="dropdown-item">Add Car</a>
                    <a href="{% url 'update' %}" class="dropdown-item">Update Car</a>
                    <a href="{% url 'customer_view' %}" class="dropdown-item">Customer Review</a>
                </div>
            </div>
            <a href="{% url 'edit_profile' %}" class="nav-item nav-link">Profile</a>
  <a href="{% url 'logout' %}" class="nav-item nav-link">Logout</a>
        </div>
      
    </div>
</nav>
	
	<div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px;">
		<div class="row py-5">
			<div class="col-12 pt-lg-5 mt-lg-5 text-center">
				<h1 class="display-4 text-white animated zoomIn">Add new car</h1>
				<a href="{% url 'home' %}" class="h5 text-white">Home</a>
				<i class="far fa-circle text-white px-2"></i>
				<a href="" class="h5 text-white">Add Car</a>
			</div>
		</div>
	</div>
	</div>
  {% if messages %}
  <div class ="container">
      {% for message in messages %}
        <div class="alert alert-danger alart-dismissable" role ="alert" style=" margin-right: 50px;  margin-left: 50px;">
            <button class="btn-close" data-dismiss="alert">
                <small><sup>x</sup></small>
              </button>
            {{ message }}
          </div>
        {% endfor%}
      {% endif %}
{% if error %}
<div class="alert alert-danger alart-dismissable" role ="alert" style=" margin-right: 50px;  margin-left: 50px;">
            <button class="btn-close" data-dismiss="alert">
                <small><sup>x</sup></small>
              </button>
               {{errormsg}}
            </div>
  {% endif%}
  <div style="justify-content: center; display: flex;">
    <div class="bg-primary rounded h-100 d-flex align-items-center p-5 wow zoomIn" data-wow-delay="0.9s">
<form method="POST">
  {% csrf_token %}
    <div class ="sec">
    <h3 class ="text-center">Model & Body</h3>
    <br>
    <div class="row">
      <div class="col">
        <label for="col1-row1">Model</label>
        <input type="text" name="Model" class='form-control bg-light border-0'  style="height: 55px;" placeholder="">
      </div>
      <div class="col">
        <label for="col2-row1">Variant</label>
        <input type="text" name="variant" class='form-control bg-light border-0'  style="height: 55px;" placeholder="">
      </div>
      <div class="col">
        <label for="col3-row1">Mileage</label>
        <input type="text" name="Mileage" class='form-control bg-light border-0'  style="height: 55px;" placeholder="">
      </div>
      <div class="col">
        <label for="col4-row1">Make</label>
        <input type="text" name="Make" class='form-control bg-light border-0'  style="height: 55px;" placeholder="">
      </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="col1-row2">kerb weight</label>
            <input type="number" name="kerb_weight" class='form-control bg-light border-0'  style="height: 55px;" placeholder="">
          </div>
          <div class="col">
            <label for="col2-row2">Type</label>
            <input type="text" name="Type" class='form-control bg-light border-0'  style="height: 55px;" placeholder="">
          </div>
          <div class="col">
            <label for="col3-row2">No of Doors</label>
            <input type="number" name="no_of_doors" class='form-control bg-light border-0'  style="height: 55px;" placeholder="">
          </div>
          <div class="col">
            <label for="col4-row2">Boot Space</label>
            <input type="number" name="Boot_Space" class='form-control bg-light border-0'  style="height: 55px;" placeholder="">
          </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="col1-row3">Body Type</label>
            <input type="text" name="Body_Type" placeholder="" class='form-control bg-light border-0'  style="height: 55px;">
          </div>
          <div class="col">
            <label for="col2-row3">Ground Clearance</label>
            <input type="number" name="Ground_Clearance" placeholder="" class='form-control bg-light border-0'  style="height: 55px;">
          </div>
    </div>
    </div>
    <br><br>
    <div class ="sec">
        <h3 class ="text-center">Engine & Cylinder</h3>
        <br>
        <div class="row">
          <div class="col">
            <label for="col1-row1">cc</label>
            <input type="number" name="cc" class='form-control bg-light border-0'  style="height: 55px;" placeholder="">
          </div>
          <div class="col">
            <label for="col2-row1">Fuel System Type</label>
            <input type="text" name="fuel_system_type" class='form-control bg-light border-0'  style="height: 55px;" placeholder="">
          </div>
          <div class="col">
            <label for="col3-row1">Capacity</label>
            <input type="number" name="capacity" class='form-control bg-light border-0'  style="height: 55px;" placeholder="">
          </div>
          <div class="col">
            <label for="col4-row1">Fuel Type</label>
            <input type="text" name="fuel_type" class='form-control bg-light border-0'  style="height: 55px;" placeholder="">
          </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="col1-row2">No of Cylinders</label>
                <input type="number" name="no_of_cylinders" class='form-control bg-light border-0'  style="height: 55px;" placeholder="">
              </div>
              <div class="col">
                <label for="col2-row2">Valves per Cylinder</label>
                <input type="number" name="valves_per_cylinder" class='form-control bg-light border-0'  style="height: 55px;" placeholder="">
              </div>
              <div class="col">
                <label for="col3-row2">Configuration</label>
                <input type="text" name="config" class='form-control bg-light border-0'  style="height: 55px;" placeholder="">
              </div> 
        </div>
        </div>  
        <button type="submit" value="Add Car" class="btn btn-dark w-100 py-3">Add Car</button>
  </form>
    </div></div>
    
      <!-- Back to Top -->
      <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded back-to-top"><i class="bi bi-arrow-up"></i></a>
    
  <style>
    form {
  width: 800px;
  margin: 20px auto;
  padding: 20px;
}
sec{

box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 30px;
  background-color: #fff;
}
.row {
  display: flex;
  margin-bottom: 20px;
}

.col {
  flex: 1;
  margin-right: 20px;
}

label {
  font-size: 16px;
  color: #000;
  display: block;
  margin-bottom: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid lightgray;
  border-radius: 5px;
  font-size: 14px;
}

  </style>
  {% endblock %}