{% extends 'authenticate/base.html' %}
{% block content %}
{% load static %}
<div class="container-fluid position-relative p-0">
  <nav class="navbar navbar-expand-lg navbar-dark px-5 py-3 py-lg-0">
    <a href="{% url 'home' %}" class="navbar-brand p-0">
        <h1 class="m-0"><i class="fa fa-user-tie me-2"></i>Carz</h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="fa fa-bars"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto py-0">
            <a href="{% url 'home' %}" class="nav-item nav-link">Home</a>
          
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Statistics</a>
                <div class="dropdown-menu m-0">
                    <a href="{% url 'powerbi' %}" class="dropdown-item">Power BI</a>
                    <a href="https://app.powerbi.com/reportEmbed?reportId=f8b37c55-b526-4725-8705-3f4691599edc&autoAuth=true&ctid=26de3d8f-79f7-4642-8217-bbd1e0bb3d8a" target="_blank" class="dropdown-item">Personalize Power BI</a>
                    <a href="{% url 'custom' %}" class="dropdown-item">Custom</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown">Update</a>
                <div class="dropdown-menu m-0">
                    <a href="{% url 'add_car' %}" class="dropdown-item">Add Car</a>
                    <a href="{% url 'update' %}" class="dropdown-item">Update Car</a>
                    <a href="{% url 'customer_view' %}" class="dropdown-item">Customer Review</a>
                </div>
            </div>
            <a href="{% url 'edit_profile' %}" class="nav-item nav-link">Profile</a>
  <a href="{% url 'logout' %}" class="nav-item nav-link">Logout</a>
        </div>
      
    </div>
</nav>
	
	<div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px;">
		<div class="row py-5">
			<div class="col-12 pt-lg-5 mt-lg-5 text-center">
        <form method ="POST">
          {% csrf_token %}
          {% if error %}
          <div class="alert alert-danger alart-dismissable" role ="alert">
                      <button class="close" data-dismiss="alert">
                          <small><sup>x</sup></small>
                        </button>
                         {{errormsg}}
                      </div>
            {% endif%}
				<h1 class="display-4 text-white animated zoomIn">Enter Car ID</h1>
        <div class = "col-md-4 offset-md-4"> 
			<input type="number" min="60000" class="form-control bg-light border-0"  style="height: 55px;" placeholder="Enter Car ID" name = "car_id">
      <input type="hidden" id="1" name="form1" value="form1">
      <br>
      <button type="submit" class="btn btn-outline-light w-100 py-3">Search</button>
      </div>
    </form>
			</div>
		</div>
	</div>
	</div>
	
  {% if messages %}
  <div class ="container">
      {% for message in messages %}
        <div class="alert alert-danger alart-dismissable" role ="alert" style=" margin-right: 50px;  margin-left: 50px;">
            <button class="btn-close" data-dismiss="alert">
                <small><sup>x</sup></small>
              </button>
            {{ message }}
          </div>
        {% endfor%}
      {% endif %}
{% if error %}
<div class="alert alert-danger alart-dismissable" role ="alert" style=" margin-right: 50px;  margin-left: 50px;">
            <button class="btn-close" data-dismiss="alert">
                <small><sup>x</sup></small>
              </button>
               {{errormsg}}
            </div>
  {% endif%}
      <!--FORM FOR UPDATION-->
      {% if show %}
      <div style="justify-content: center; display: flex;">
        <div class="bg-primary rounded h-100 d-flex align-items-center p-5 wow zoomIn" data-wow-delay="0.9s">
      <form method="POST">
        {% csrf_token %}
          <div class ="sec">
          <h3 class ="text-center">Model & Body</h3>
          <br>
          <div class="row">
            <div class="col">
              <label for="col1-row1">Model</label>
              <input type="text" name="Model" class='form-control bg-light border-0'  style="height: 55px;" value={{Model}} required>
            </div>
            <div class="col">
              <label for="col2-row1">Variant</label>
              <input type="text" name="variant" class='form-control bg-light border-0'  style="height: 55px;" value={{variant}} required>
            </div>
            <div class="col">
              <label for="col3-row1">Mileage</label>
              <input type="text" name="Mileage" class='form-control bg-light border-0'  style="height: 55px;" value={{Mileage}} required>
            </div>
            <div class="col">
              <label for="col4-row1">Make</label>
              <input type="text" name="Make" class='form-control bg-light border-0'  style="height: 55px;" value={{Make}} required>
            </div>
          </div>
          <div class="row">
              <div class="col">
                  <label for="col1-row2">kerb weight</label>
                  <input type="number" min="100" name="kerb_weight" class='form-control bg-light border-0'  style="height: 55px;" value={{kerb_weight}} required>
                </div>
                <div class="col">
                  <label for="col2-row2">Type</label>
                  <input type="text" name="Type" class='form-control bg-light border-0'  style="height: 55px;" value={{Type}} required>
                </div>
                <div class="col">
                  <label for="col3-row2">No of Doors</label>
                  <input type="number" min="2" name="no_of_doors" class='form-control bg-light border-0'  style="height: 55px;" value={{no_of_doors}} required>
                </div>
                <div class="col">
                  <label for="col4-row2">Boot Space</label>
                  <input type="number" min="50" name="Boot_Space" class='form-control bg-light border-0'  style="height: 55px;" value={{boot_space}} required>
                </div>
          </div>
          <div class="row">
              <div class="col">
                  <label for="col1-row3">Body Type</label>
                  <input type="text" name="Body_Type" value={{body_type}} class='form-control bg-light border-0'  style="height: 55px;" required>
                </div>
                <div class="col">
                  <label for="col2-row3">Ground Clearance</label>
                  <input type="number" min="50" name="Ground_Clearance" value={{ground_clearance}} class='form-control bg-light border-0'  style="height: 55px;" required>
                </div>
          </div>
          </div>
          <br><br>
          <div class ="sec">
              <h3 class ="text-center">Engine & Cylinder</h3>
              <br>
              <div class="row">
                <div class="col">
                  <label for="col1-row1">cc</label>
                  <input type="number" min="100" name="cc" class='form-control bg-light border-0'  style="height: 55px;" value={{cc}} required>
                </div>
                <div class="col">
                  <label for="col2-row1">Fuel System Type</label>
                  <input type="text" name="fuel_system_type" class='form-control bg-light border-0'  style="height: 55px;" value={{fuel_system_type}} required>
                </div>
                <div class="col">
                  <label for="col3-row1">Capacity</label>
                  <input type="number" min="5" name="capacity" class='form-control bg-light border-0'  style="height: 55px;" value={{capacity}} required>
                </div>
                <div class="col">
                  <label for="col4-row1">Fuel Type</label>
                  <input type="text" name="fuel_type" class='form-control bg-light border-0'  style="height: 55px;" value={{fuel_type}} required>
                </div>
              </div>
              <div class="row">
                  <div class="col">
                      <label for="col1-row2">No of Cylinders</label>
                      <input type="number" min="1" name="no_of_cylinders" class='form-control bg-light border-0'  style="height: 55px;" value={{no_of_cylinders}} required>
                    </div>
                    <div class="col">
                      <label for="col2-row2">Valves per Cylinder</label>
                      <input type="number" min="1" name="valves_per_cylinder" class='form-control bg-light border-0'  style="height: 55px;" value={{valves_per_cylinder}} required>
                    </div>
                    <div class="col">
                      <label for="col3-row2">Configuration</label>
                      <input type="text" name="config" class='form-control bg-light border-0'  style="height: 55px;" value={{config}} required>
                    </div> 
              </div>
              </div>  
              <input type="hidden" id="1" name="form1" value="form2">
              <input type="hidden" id="1" name="cid" value={{cid}}>
              <br>
              <div class = "col-md-4 offset-md-4"> 
              <button type="submit" value="Add Car" class="btn btn-dark w-100 py-3">Update Car</button>
              </div>
        </form>
      </div></div>
        {% endif %}

        <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light mt-5 wow fadeInUp" data-wow-delay="0.1s">
      <div class="container">
          <div class="row gx-5">
              <div class="col-lg-4 col-md-6 footer-about">
                  <div class="d-flex flex-column align-items-center justify-content-center text-center h-100 bg-primary p-4">
                      <a href="index.html" class="navbar-brand">
                          <h1 class="m-0 text-white"><i class="fa fa-user-tie me-2"></i>Carz</h1>
                      </a>
                      <p class="mt-2 mb-4">Welcome to our car data analytics website, where we offer a comprehensive and insightful look into the world of cars through the lens of data analysis. As the automotive industry continues to evolve, the amount of data being generated by cars is increasing at an unprecedented rate. From performance and safety to user experience and environmental impact, data is changing the way we drive, maintain and even design cars. </p>
                     
                  </div>
              </div>
              <div class="col-lg-8 col-md-6">
                  <div class="row gx-5">
                      <div class="col-lg-4 col-md-12 pt-5 mb-5">
                          <div class="section-title section-title-sm position-relative pb-3 mb-4">
                              <h3 class="text-light mb-0">Get In Touch</h3>
                          </div>
                          <div class="d-flex mb-2">
                              <i class="bi bi-geo-alt text-primary me-2"></i>
                              <p class="mb-0">Banglore, Karnataka</p>
                          </div>
                          <div class="d-flex mb-2">
                              <i class="bi bi-envelope-open text-primary me-2"></i>
                              <p class="mb-0">cars@example.com</p>
                          </div>
                          <div class="d-flex mb-2">
                              <i class="bi bi-telephone text-primary me-2"></i>
                              <p class="mb-0">+919123457895</p>
                          </div>
                          <div class="d-flex mt-4">
                              <a class="btn btn-primary btn-square me-2" href="#"><i class="fab fa-twitter fw-normal"></i></a>
                              <a class="btn btn-primary btn-square me-2" href="#"><i class="fab fa-facebook-f fw-normal"></i></a>
                              <a class="btn btn-primary btn-square me-2" href="#"><i class="fab fa-linkedin-in fw-normal"></i></a>
                              <a class="btn btn-primary btn-square" href="#"><i class="fab fa-instagram fw-normal"></i></a>
                          </div>
                      </div>
                      <div class="col-lg-4 col-md-12 pt-0 pt-lg-5 mb-5">
                          <div class="section-title section-title-sm position-relative pb-3 mb-4">
                              <h3 class="text-light mb-0">Key Features</h3>
                          </div>
                          <div class="link-animated d-flex flex-column justify-content-start">
                              <a class="text-light mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Data Import</a>
                              <a class="text-light mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Data Cleaning</a>
                              <a class="text-light mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Data Modeling</a>
                              <a class="text-light mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Visualisation</a>
                              <a class="text-light mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Dashboards</a>
                              <a class="text-light" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Report Generation</a>
                          </div>
                      </div>
                      <div class="col-lg-4 col-md-12 pt-0 pt-lg-5 mb-5">
                          <div class="section-title section-title-sm position-relative pb-3 mb-4">
                              <h3 class="text-light mb-0">Key Features</h3>
                          </div>
                          <div class="link-animated d-flex flex-column justify-content-start">
                              <a class="text-light mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Sentimental Analysis</a>
                              <a class="text-light mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Natural Language query</a>
                              <a class="text-light mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Data Security</a>
                              <a class="text-light mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Data Refresh</a>
                              <a class="text-light mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Charts Generation</a>
                              <a class="text-light" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Collaboration</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="container-fluid text-white" style="background: #061429;">
      <div class="container text-center">
          <div class="row justify-content-end">
              <div class="col-lg-8 col-md-6">
                  <div class="d-flex align-items-center justify-content-center" style="height: 75px;">
                      <p class="mb-0">&copy; <a class="text-white border-bottom" href="#">Your Site Name</a>. All Rights Reserved. 
                      
                      <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                      Designed by <a class="text-white border-bottom" href="https://htmlcodex.com">HTML Codex</a></p>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Footer End -->
<style>

label {
  font-size: 16px;
  color: #000;
  display: block;
  margin-bottom: 10px;
}

</style>    
{% endblock %}
