{% extends 'authenticate/base.html' %}
{% block content %}

<h3 class ="text-center">Enter Car ID</h3>
<div class = "col-md-6 offset-md-3"> 
	<form method ="POST">
		{% csrf_token %}
	  <div class="form-group">
	    <input type="text" class="form-control" placeholder="Enter Car ID" name = "car_id">
	  </div>
      <input type="hidden" id="1" name="form1" value="form1">
      <button type="submit" class="btn btn-secondary">Search</button>
      </form>
      <!--FORM FOR UPDATION-->
      <form>
        <div class ="sec">
        <legend>Section 1</legend>
        <div class="row">
          <div class="col">
            <label for="col1-row1">Model</label>
            <input type="text" id="col1-row1" class='form-control' placeholder="">
          </div>
          <div class="col">
            <label for="col2-row1">Variant</label>
            <input type="text" id="col2-row1" class='form-control' placeholder="">
          </div>
          <div class="col">
            <label for="col3-row1">Mileage</label>
            <input type="text" id="col3-row1" class='form-control' placeholder="">
          </div>
          <div class="col">
            <label for="col4-row1">Make</label>
            <input type="text" id="col4-row1" class='form-control' placeholder="">
          </div>
        </div> </div>
        
{% endblock %}